extends layout 

block content 

  .title 
    h2 #{title}
  .about-image
    img(src='./img/weirdos.jpg')

  .about-text
    p This is a website made by my cousin, Brian, and myself (let's be honest it's mostly me). It's mainly to help me learn programming. Pretty much everything is subject to change. If you see any errors, please email us at: cockytrecipes@gmail.com. Subject line: "You messed up". 