extends layout

block content
  .background-image 
    form.searchBarWrap( action='/search' method="get")
      input#searchBar(type='text' name='q' placeholder="Search recipes...")
      button#searchBtn
        i.fas.fa-search(type="submit" name="submit") Search

    //- Temporary search results render 
    //- .search-results
    //-   h3 Search Results 
      //- section.home-cards
      //-   div
      //-     a(href="/about")
      //-       img(src="img/gin-fizz.webp")
      //-     h4 Gin Fizz 
      //-     p Love the Tom Collins? Try its frothy, bubbly cousin, the Gin Fizz. The secret to creating the perfect creaminess and froth is to shake, shake, shake—and then shake some more.
      //-     a(href="#") See Full Recipe 
      //-       i.fas.fa-chevron-right
        //- div
        //-   img(src="img/last-word.webp")
        //-   h4 The Last Word
        //-   p The Last Word was one of the first pre-Prohibition drinks to lead the cocktail revival of the early aughts. One thing is certain: The Last Word will leave you, um, speechless.
        //-   a(href="#") See Full Recipe 
        //-     i.fas.fa-chevron-right

        

  .drink-cards
    h3 Gin Cocktails 
    section.home-cards
      div
        img(src="img/gin-fizz.webp")
        h4 Gin Fizz 
        p Love the Tom Collins? Try its frothy, bubbly cousin, the Gin Fizz. The secret to creating the perfect creaminess and froth is to shake, shake, shake—and then shake some more.
        a(href="#") See Full Recipe 
          i.fas.fa-chevron-right
      div
        img(src="img/last-word.webp")
        h4 The Last Word
        p The Last Word was one of the first pre-Prohibition drinks to lead the cocktail revival of the early aughts. One thing is certain: The Last Word will leave you, um, speechless.
        a(href="#") See Full Recipe 
          i.fas.fa-chevron-right
      div
        img(src="img/negroni.webp")
        h4 Negroni
        p The key to a great Negroni is finding a gin-vermouth pairing that complements, rather than overpowers, the bitter, bold flavors of Campari.
        a(href="#") See Full Recipe 
          i.fas.fa-chevron-right
      div
        img(src="img/french-75.webp")
        h4 French 75
        p Feeling a little parched at brunch? The French 75 is a sparkling cocktail that's perfect before, during and after your eggs Benedict. This is one classic you’ll want to rediscover again and again.
        a(href="#") See Full Recipe 
          i.fas.fa-chevron-right
  .drink-cards
    h3 Whiskey Cocktails 
    section.home-cards
      div
        img(src="img/old-fashion.webp")
        h4 Old Fashioned 
        p When you get right down to it, the Bourbon Old Fashioned is little more than a slug of whiskey, seasoned and sweetened. Yet the drink remains as relevant today as it was when it first captured drinkers’ hearts 200 years ago.
        a(href="#") See Full Recipe 
          i.fas.fa-chevron-right
      div
        img(src="img/whiskey-sour.webp")
        h4 Whiskey Sour
        p Spirit, sugar, citrus—the original big three—come together in the Whiskey Sour, whose history stretches back to the Lincoln administration.
        a(href="#") See Full Recipe 
          i.fas.fa-chevron-right
      div
        img(src="img/sazerac.webp")
        h4 Sazerac
        p Before it called for rye whiskey, the New Orleans classic was made with cognac.
        a(href="#") See Full Recipe 
          i.fas.fa-chevron-right
      div
        img(src="img/hot-toddy.webp")
        h4 Hot Toddy
        p The Hot Toddy is the grandfather of hot cocktails. Equally at home in a snowbound mountain cabin as it is on an acclaimed cocktail menu, the Hot Toddy has one job that it takes quite seriously: warming you up.
        a(href="#") See Full Recipe 
          i.fas.fa-chevron-right

    




