extends layout

include mixins/_drinkCard

block content
  .background-image 
    form.searchBarWrap( action='/search' method="get")
      input#searchBar(type='text' name='q' placeholder="Search by ingredient, spirit, cocktail...")
      button#searchBtn
        i.fas.fa-search(type="submit" name="submit") Search

  .drink-cards
    h3 Gin Cocktails 
    section.home-cards
      each ginDrink in ginDrinks
        +drinkCard(ginDrink)

  .drink-cards
    h3 Whiskey Cocktails 
    section.home-cards
       each whiskeyDrink in whiskeyDrinks
        +drinkCard(whiskeyDrink)

  .drink-cards
    h3 Rum Cocktails 
    section.home-cards
       each rumDrink in rumDrinks
        +drinkCard(rumDrink)
 
 


    




