doctype html

html
  head
    title= `Cocky-T - Great Cocktail Recipes`
    link(rel='stylesheet', href='main.css')
    script(src="https://kit.fontawesome.com/65fea8968d.js" crossorigin="anonymous")
    // link(rel='shorcut icon' href='')
  body
    .container
      .navbar 
        a.logo(href='/')
          img(src='./img/logo.png')
        ul.nav-links
          li.nav-item
            a(href='/about') About
          li.nav-item
            a(href='') Recipes 
          li.nav-item
            a(href='') Favorites 
          li.nav-item
            a(href='') Register
          li.nav-item
            a(href='') Sign In 
    .content 
      block content 



    
