doctype html
html
  head
    title= `Cocky-T - Great Cocktail Recipes`
    link(rel='stylesheet', href='main.css')
    // link(rel='shorcut icon' href='')
  body
    .container 
      nav.navbar 
        a.logo(href='')
          img(src='img/image.png')
        ul.nav-links
          li.nav-item
            a(href='') About
          li.nav-item
            a(href='') Recipes 
          li.nav-item
            a(href='') Favorites 
          li.nav-item
            a(href='') Register
          li.nav-item
            a(href='') Sign In  
          
      .content 
        block content 
