extends layout 

include mixins/_drinkCard


block content
  form.searchBarWrap2( action='/search' method="get")
    input#searchBar(type='text' name='q' placeholder="Search by ingredient, spirit, cocktail...")
    button#searchBtn
      i.fas.fa-search(type="submit" name="submit") Search
  if drinks.length > 0   
    div Search results for: #{query} 
    .home-cards
      each drink in drinks 
        +drinkCard(drink)
  else 
    p No results for #{query}. Please try again

